/*CSS rules for p1*/
/*This CSS validates on W3C as CSS level 3 */

body {
	font-family: Veranda, Arial, sans-serif;
	font-size: small;
	background-image: url(images/blueberryHill.Bushes.backgnd.2.jpg);
}

.sideImage {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	float: left;
	margin-right: 10px;
	margin-top: 20px
}


.banner {

	padding-top: 94px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-image: url(images/blueberryHill.Bushes.tops.4.jpg);
	margin-left: 275px;

}

.indent {
	margin-left: 275px;
}

.bannerRight {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	float: left;
	margin-right: 10px;

}

.form {
	font-size:  120%;
	color: #5C2E00;
	line-height: 1em;
	margin-left: 300px;
	margin-top: 75px;
}


h1 {
	font-size:  200%;	
	color: #532900;
	line-height: 1em;
}

h2 {
	font-size:  130%;
	color: #5C2E00;
	line-height: 1em;
}

h3 {
	font-size:  110%;
	color: #5C2E00;
	line-height: 1em;
}

p {
	font-size:  90%;
	color: #5C2E00;
}

